In [210]:
import pandas as pd 
import numpy as np

In [211]:
df = pd.read_excel('hotelBookings.xlsx')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,No Deposit,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,No Deposit,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,No Deposit,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15

In [212]:
''''

we started by deleting any duplicate rows 
57 row was deleted

'''

df = df.drop_duplicates()

In [213]:
'''
using describe function we can see if there are any weird values speacially by checking max and min values 

in this data we can see that max number of children is 55000 which menas someone made a reservation for 55000 which is not logical 
same fro adults as 3500 that s also not possible 
arrival data there is one showing 2099 also not logical 

note : ( we don't know what numbers mean in agent and company column maybe should be just deleted ?)

'''


df.describe().loc[['min' , 'max']]

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
min,0.0,0.0,2015.0,27.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,110.0,0.0,0.00,0.0,0.0
max,1.0,737.0,2099.0,33.0,31.0,6.0,15.0,3500.0,55000.0,2.0,0.0,0.0,0.0,5.0,306.0,270.0,0.0,280.74,2.0,4.0

In [214]:
df['children'].unique()

array([    0,     1,     2,   200, 55000,    10])

In [215]:
print(len(df[df['children'] == 10 ]))
print(len(df[df['children'] == 1 ]))
print(len(df[df['children'] == 2 ]))
print(len(df[df['children'] == 0 ]))

'''
we can see that most bookings are with no children with a big diffrence from having 1 , 2 or more children 
so in case of any analyses replacing the exegirated values with 1, 2 or 0 or even deleting the row won't make any difference
in this case we will replace 200 , 55000 with 0 

'''

df['children'][df['children'] > 10 ] = df['children'][df['children'] > 10 ] * 0

1
51
74
815

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/4151238518.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['children'][df['children'] > 10 ] = df['children'][df['children'] > 10 ] * 0
/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/4151238518.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['children'][df['children'] > 10 ] = df['children'][df['children'] > 10 ] * 0

In [216]:
df['adults'].unique()

array([   2,    1,    3,    4, 3500])

In [217]:
print(len(df[df['adults'] == 3 ]))
print(len(df[df['adults'] == 1 ]))
print(len(df[df['adults'] == 2 ]))
print(len(df[df['adults'] == 4 ]))
print(len(df[df['adults'] == 3500 ]))

'''
since most adultes are 2 so we will replace that one big value with 2 

'''

df['adults'] = df['adults'].replace(3500 , 2)

47
56
837
2
1

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/1665311835.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adults'] = df['adults'].replace(3500 , 2)

In [218]:
'''
replace that 2099 date with 2015 

'''

df['arrival_date_year'] = df['arrival_date_year'].replace(2099 , 2015)

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/500581111.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_year'] = df['arrival_date_year'].replace(2099 , 2015)

In [219]:
'''
this way we can see number of empty rows in each column
company column has 932 empty column, crazy !! it s basically useless 

arrival month also has 14 empty row, i guess we can fix that
'''

df.isna().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                 14
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            0
babies                              0
meal                                0
country                             1
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
agent                              92
company                           932
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64

In [220]:
'''
some months were not filled in so wen filter based on month date and week number nd filling in the missig month

'''


df[(df['arrival_date_day_of_month'] <=  31) &( df['arrival_date_week_number'] <= 31)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,Resort Hotel,1,53,2015,August,31,1,3,6.0,2,...,No Deposit,240.0,NaN,0,Transient,210.78,0,0,Canceled,2015-06-16
869,Resort Hotel,1,80,2015,August,31,1,4,6.0,2,...,No Deposit,242.0,NaN,0,Transient,169.00,0,1,Canceled,2015-07-21
870,Resort Hotel,1,77,2015,August,31,1,4,6.0,2,...,No Deposit,240.0,NaN,0,Transient,174.70,0,3,Canceled,2015-07-22
871,Resort Hotel,1,57,2015,August,31,1,4,10.0,2,...,No Deposit,241.0,NaN,0,Transient,135.53,0,0,Canceled,2015-07-07
872,Resort Hotel,0,11,2015,August,31,1,4,10.0,1,...,No Deposit,104.0,NaN,0,Transient,172.00,0,0,Check-Out,2015-08-15

In [221]:
'''
some months were not filled in so wen filter based on month date and week number nd filling in the missig month

'''

df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )] = df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )].fillna('July')
df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')] = df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')].fillna("August")

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/3775796267.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )] = df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )].fillna('July')
/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/3775796267.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )] = df['arrival_date_month'][(df['arrival_date_day_of_month'] <= 31 ) & (df['arrival_date_week_number'] <= 31 )].fillna('July')
/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/3775796267.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')] = df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')].fillna("August")
/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/3775796267.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')] = df['arrival_date_month'][ (df['arrival_date_week_number'] >= 31 ) & (df['arrival_date_month'] != 'July')].fillna("August")

In [222]:
'''
we get ride of spcaes to make our dat more structered 

'''

df['meal'] = df['meal'].str.strip(' ')

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/3665578094.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['meal'] = df['meal'].str.strip(' ')

In [223]:
'''
we can clearly see some numbers ssigned as counties that s not normal 
decision to make : we replce numbers by unknown since we don't know the country name

'''
df['country'].unique()

array(['PRT', 'GBR', 2, 'USA', 'ESP', 'IRL', 'FRA', nan, '  ROU', 'NOR',
       'OMN', 'ARG', 'POL', 'DEU', 'BEL', 'CHE', 3, 'CN', 'GRC', 'ITA',
       'NLD', 'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN',
       'MOZ', 'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX'],
      dtype=object)

In [224]:
df['country'] = df['country'].apply(lambda x: 'unknown' if  isinstance( x , int) else x )
df['country']  = df['country'].fillna('unknown')

/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/756472788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = df['country'].apply(lambda x: 'unknown' if  isinstance( x , int) else x )
/var/folders/b6/152y_gms5q79hhc788k75tnr0000gn/T/ipykernel_6524/756472788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country']  = df['country'].fillna('unknown')

In [225]:
df.to_excel('cleaned_hotelbooking.xlsx', index=False)