In [3]:
import pandas as pd
from langdetect import detect, DetectorFactory

# make results deterministic
DetectorFactory.seed = 0  

# read tweets.xlsx 
df = pd.read_excel("tweets.xlsx")

# find tweet column (default: first if no 'tweet')
tweet_col = None
for c in df.columns:
    if str(c).strip().lower() == "tweet":
        tweet_col = c
        break
if tweet_col is None:
    tweet_col = df.columns[0]

# detect languages 
def safe_detect(text):
    if not isinstance(text, str) or not text.strip():
        return "Unknown"
    try:
        return detect(text)
    except Exception:
        return "Unknown"

df["language"] = [safe_detect(x) for x in df[tweet_col]]

# save results 
df.to_excel("tweets_with_language.xlsx", index=False)
df.to_csv("tweets_with_language.csv", index=False)

print("Done!!! Files saved as: 'tweets_with_language.xlsx' and 'tweets_with_language.csv' ")
df.head()

Done!!! Files saved as: 'tweets_with_language.xlsx' and 'tweets_with_language.csv'

,Tweet ID,Country,Date,Tweet,Definitely English,Ambiguous,Definitely Not English,Code-Switched,Ambiguous due to Named Entities,Automatically Generated Tweets,language
0,434215992731136000,TR,2014-02-14,BugÃ¼n bulusmami lazimdiii,0,0,1,0,0,0,tr
1,285903159434563008,TR,2013-01-01,Volkan konak adami tribe sokar yemin ederim :D,0,0,1,0,0,0,tr
2,285948076496142016,NL,2013-01-01,Bed,1,0,0,0,0,0,de
3,285965965118824000,US,2013-01-01,I felt my first flash of violence at some fool...,1,0,0,0,0,0,en
4,286057979831275008,US,2013-01-01,Ladies drink and get in free till 10:30,1,0,0,0,0,0,af